nav.navbar.navbar-expand-md.bg-dark.navbar-dark
      a.navbar-brand(href='#')
        i.fa.d-inline.fa-lg.fa-YA
      .container
        a.navbar-brand(href='#')
          img.d-inline-block.align-top(src='images/dnSMn5Hh_400x400.jpg', width='35', height='30', alt='')
          b YASSIR
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar2SupportedContent')
          span.navbar-toggler-icon
        #navbar2SupportedContent.collapse.navbar-collapse.text-center.justify-content-end