doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/hometheme.css', type='text/css')
  body
    nav.navbar.navbar-expand-md.bg-dark.navbar-dark
      a.navbar-brand(href='#')
        i.fa.d-inline.fa-lg.fa-YA
      .container
        a.navbar-brand(href='#')
          img.d-inline-block.align-top(src='images/dnSMn5Hh_400x400.jpg', width='35', height='30', alt='')
          b YASSIR
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar2SupportedContent')
          span.navbar-toggler-icon
        #navbar2SupportedContent.collapse.navbar-collapse.text-center.justify-content-end
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='home')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='subjects') Subjects
            li.nav-item
              a.nav-link(href='staff') Staff
            li.nav-item
              a.nav-link(href='contact') Contact
    .py-5.text-center.filter-dark.w-100.h-100.text-info(style='background-image: url("images/background.jpg"); background-size: cover; background-position: center center;')
      .container.py-5
        .row
          .col-md-11.text-center.text-capitalize.text-white
            h1.display-4   Welcome to YASSIR
            .row
              .col-md-12
                h3.text-center.align-self-center.align-items-center.justify-content-center.text-capitalize
                  | YAssir is an innovative service in transport which offers a new way of getting around  Algiers.
    .bg-dark.text-white.py-2
      .container
        .row
          .col-4.col-md-4.align-self-center.text-center
            a(href='https://www.facebook.com', target='_blank')
              i.fa.fa-fw.fa-facebook.fa-3x.text-white
          .col-4.col-md-4.align-self-center.text-center
            a(href='https://twitter.com', target='_blank')
              i.fa.fa-fw.fa-twitter.fa-3x.text-white
          .col-4.col-md-4.align-self-center.text-center
            a(href='https://www.instagram.com', target='_blank')
              i.fa.fa-fw.fa-instagram.text-white.fa-3x
        .row
          .col-md-12.mt-3.text-center
            p © Copyright 2018 YASSIR - All rights reserved.
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    
      
